<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>插值</title>
  <script src="js/2.5.16/vue.js"></script>
</head>
<body>
<h2>#文本</h2>
<div id="app">
  firstName：<input type="text" v-model="firstName"></input>
  lastName：<input type="text" v-model="lastName"></input>
  <p>fullName：{{fullName}}</p>
</div>
</body>
<script>
var app = new Vue({
  el: '#app',
  data: {
    firstName: 'G.l',
    lastName: 'L'
  },
  computed:{
    fullName: {
      get: function () {
        return this.firstName + ' ' + this.lastName;
      },
      setter:function (newValue) {
        var names = newValue.split(' ');
        this.firstName = names[0];
        this.lastName = names[names.length - 1];
      }
    }
  }
});
</script>
</html>